h4 {
    font-size: 3rem;
    color: #0D4F8B;
    padding-bottom: 15px;
}

.container {
    padding-top: 30px;
}
.collapsible-header {
    font-size: 24px;
    color: #0D4F8B;
}

.row {
    margin-bottom: 0px;
}

.btn_small {
    height: 40px;
    width: 80px;
    font-size: 18px;
    line-height: 30px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

nav .brand-logo {
    margin-right: 30px;
}

nav .nav-wrapper {
    background-color: #00B2EE;

}

.trips_header {
    margin-top: 5px;
    margin-left: 100px;
    font-size: 30px;
}

.reservation-info {
    margin: 0px;
    padding: 0px;
}
.material-icons {
    margin-right: 0px;

}
/* This is where I attempted to override Materialise's default styling, I would manage to make the changes in Inspect, but i'd use the same code in CSS, it would refuse to work. This is something that I woul;d like to understand a bit better for future project, so i belive I will come back to this project to study this a bit more*/
.label {
    font-size: 24px;
    color: #0D4F8B;
}

.prefix ~ label {
    margin-left: 1rem;
}
/* End of attempts*/

nav ul a {
    font-size: 30px;
}

@media only screen and (max-width: 400px) {
/* Failed attempt to override the margin for h4 for utilizing screen space better */
.h4 {
    font-size: 1.5rem;
    padding-bottom: 5px;
    margin: 0px;
}

.label {
    font-size: .8rem;
    color: #9e9e9e;
}
.prefix ~ label {
    margin-left: 1rem;
}

nav .brand-logo {
    margin-right: 10px;
}

.btn_small {
    height: 20px;
    width: 60px;
    font-size: 12px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}
 
.trips_header {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 15px;
}
.collapsible-header {
        padding: 5px;
    }

.material-icons {
    margin-right: 0px;

}


@media only screen and (max-width: 600px) {
.h4 {
    font-size: 1.8rem;
    padding-bottom: 7px;
    margin-bottom: 7px;
}

nav .brand-logo {
    margin-right: 15px;
}
.btn_small {
    height: 20px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}
    
.trips_header {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 20px;
}


.material-icons {
    margin-left: 0px;

}
