<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
	<title>Travel-O-Rama</title>
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="{{url_for('get_trips')}}" class="brand-logo right">Trip-O-Rama</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul class="left hide-on-med-and-down">
					<li><a href="{{url_for('get_trips')}}"><strong>Home</strong></a></li>
                    <li><a href="{{url_for('add_trip')}}"><strong>New Trip</strong></a></li>
                    <li><a href="{{url_for('add_category')}}"><strong>Add Categories</strong></a></li>
				</ul>
				<ul class="sidenav" id="mobile-demo">
					<li><a href="{{url_for('get_trips')}}">Home</a></li>
                    <li><a href="{{url_for('add_trip')}}">New Trip</a></li>
                    <li><a href="{{url_for('add_category')}}">Add Categories</a></li>
				</ul>
			</div>
		</nav>

	</header>

	<div class="container">
	
		{% block content %}
		{% endblock %}
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
            $('.collapsible').collapsible();
            $('select').formSelect();
            $('.datepicker').datepicker();
            $('.sidenav').sidenav();
        });

        document.getElementById("matfix").addEventListener("click", function(e) {
	        e.stopPropagation();
        });

	</script>

</body>

</html>