{% extends 'base.html' %}
{% block content %}
<div class="row">

<h4>Categories</h4>
	<ul class="collapsible" data-collapsible="accordion">
		{% for category in trips %}
		<li>
			<div class="collapsible-header">
				<div class="col s3">
					<i class="material-icons">expand_more</i>
					<a href="{{url_for('delete_category', category_id=category._id)}}" class="waves-effect waves-light btn btn_small">Delete</a>
					<a href="{{url_for('edit_category', category_id=category._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>

				</div>

				<div class="trips_header col s9">
					<strong>{{trip.trip_location}}</strong> - {{trip.transport_code}}
				</div>
			</div>
			<div class="collapsible-body">
				<span>
                    {{trip.check_in}} - {{trip.check_out}}
                </span>

			</div>
		</li>
		{% endfor %}
	</ul>

</div>
<div class="row">
    <a href="{{url_for('add_category')}}" class="waves-effect waves-light btn cyan">
    <i class="material-icons right">playlist_add</i>Add Category</a>
</div>
{% endblock %}