{% extends 'base.html' %}
{% block content %}
    <ul class="collapsible" data-collapsible="accordion">
	    {% for trips in trip_type %}
	    <li>
		    <div class="collapsible-header">
		        <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <a href="{{url_for('edit_trip', trip_id=trip._id)}} class="waves-effect waves-light btn btn-small blue>Edit</a>
                    
                </div>

                <div class="trips_header col s9">
				    <strong>{{trips.trip_type}} - {{trips.trip_location}}</strong> - {{trips.transport_code}}
			    </div>
		    </div>
		    <div class="collapsible-body">
			    <span>
                    {{trips.check_in}} - {{trips.check_out}}
                </span>
                
		    </div>
	    </li>
	{% endfor %}
</ul>
{% endblock %}