{% extends 'base.html' %}
{% block content %}

<h4>My Trips</h4>

<ul class="collapsible" data-collapsible="accordion">
	{% for trip in trips %}
	<li>
		<div class="collapsible-header">
			<div class="col s3">
				<i class="material-icons active">expand_more</i>
			</div>
			<div class="col s3">
				<a href="{{url_for('delete_trip', trip_id=trip._id)}}"
					class="waves-effect waves-light btn btn_small red lighten-1 class=" browser-default>Delete</a>
				<a href="{{url_for('edit_trip', trip_id=trip._id)}}"
					class="waves-effect waves-light btn btn_small cyan">Edit</a>
			</div>
			<div class="trips_header col s6">
				<p class="reservation-info"><strong>{{trip.trip_location}}</strong></p>
				<p class="reservation-info">{{trip.transport_code}}</p>
			</div>
            </div>
			<div class="collapsible-body active">
				<!-- I wasn't able to override Materialize's default styling, so I had to leave it as it is. This is something I want to work on more to understand for future projects -->
                <p class="reservation-info">
                    <i class="material-icons prefix">today</i>
                    <label for="icon_prefix">Check-In: </label> {{trip.check_in}}
                </p>
                <p class="reservation-info">
                    <i class="material-icons prefix">today</i>
                    <label for="icon_prefix">Check-Out: </label> {{trip.check_out}}
                </p>
                <p class="reservation-info">
                    <i class="material-icons prefix">access_time</i>
                    <label for="icon_prefix">Is the reservation now? </label> {{trip.is_now}}
                </p>
                <p class="reservation-info">
                    <i class="material-icons prefix">location_city</i>
                    <label for="icon_prefix">Sights to visit: </label> {{trip.sights}}
                </p>
                <p class="reservation-info">
                    <i class="material-icons prefix">local_dining</i>
                    <label for="icon_prefix">Restaurants to check-out: </label> {{trip.restaurants}}
                 </p>
                <p class="reservation-info">
                    <i class="material-icons prefix">landscape</i>
                    <label for="icon_prefix">Things to experience</label> {{trip.experiences}}
                </p>
            <!-- </span> -->
			</div>
	</li>
	{% endfor %}
</ul>
{% endblock %}